# macOS
.DS_Store

# build artifacts
*.o
*.d
*.out
*.exe
*.dSYM/

# launcher executable
bundlApp/bundl

# VS Code settings
.vscode/

# game executables
Snake/SnakeApp
ConnectFour/ConnectFourApp
Anagrams/AnagramsApp
